<app-header class="header"></app-header>
<main class="main">
  <app-navigation
    class="navigation"
    (changeCategory)="onChangeCategory($event)"
    [active]="active"
  ></app-navigation>
  <div class="documents">
    <app-search
      #search
      class="documents__search"
      (onSearch)="onSearch($event)"
    ></app-search>
    <div class="documents__container">
      <ng-container *ngFor="let document of filteredDocuments">
        <app-document
          [document]="document"
          (tagClick)="onChangeCategory($event)"
        ></app-document>
      </ng-container>
    </div>
  </div>
</main>
